<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stand.spring.dao.EnergyMapper">
    <resultMap id="BaseResultMap" type="com.stand.spring.model.EnergyDO">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="Customer_Id" jdbcType="INTEGER" property="customerId"/>
        <result column="Date" jdbcType="VARCHAR" property="date"/>
        <result column="Data1" jdbcType="DOUBLE" property="data1"/>
        <result column="Data2" jdbcType="DOUBLE" property="data2"/>
        <result column="Data3" jdbcType="DOUBLE" property="data3"/>
        <result column="Data4" jdbcType="DOUBLE" property="data4"/>
        <result column="Data5" jdbcType="DOUBLE" property="data5"/>
        <result column="Hour0" jdbcType="DOUBLE" property="Hour0"/>
        <result column="Hour1" jdbcType="DOUBLE" property="hour1"/>
        <result column="Hour2" jdbcType="DOUBLE" property="hour2"/>
        <result column="Hour3" jdbcType="DOUBLE" property="hour3"/>
        <result column="Hour4" jdbcType="DOUBLE" property="hour4"/>
        <result column="Hour5" jdbcType="DOUBLE" property="hour5"/>
        <result column="Hour6" jdbcType="DOUBLE" property="hour6"/>
        <result column="Hour7" jdbcType="DOUBLE" property="hour7"/>
        <result column="Hour8" jdbcType="DOUBLE" property="hour8"/>
        <result column="Hour9" jdbcType="DOUBLE" property="hour9"/>
        <result column="Hour10" jdbcType="DOUBLE" property="hour10"/>
        <result column="Hour11" jdbcType="DOUBLE" property="hour11"/>
        <result column="Hour12" jdbcType="DOUBLE" property="hour12"/>
        <result column="Hour13" jdbcType="DOUBLE" property="hour13"/>
        <result column="Hour14" jdbcType="DOUBLE" property="hour14"/>
        <result column="Hour15" jdbcType="DOUBLE" property="hour15"/>
        <result column="Hour16" jdbcType="DOUBLE" property="hour16"/>
        <result column="Hour17" jdbcType="DOUBLE" property="hour17"/>
        <result column="Hour18" jdbcType="DOUBLE" property="hour18"/>
        <result column="Hour19" jdbcType="DOUBLE" property="hour19"/>
        <result column="Hour20" jdbcType="DOUBLE" property="hour20"/>
        <result column="Hour21" jdbcType="DOUBLE" property="hour21"/>
        <result column="Hour22" jdbcType="DOUBLE" property="hour22"/>
        <result column="Hour23" jdbcType="DOUBLE" property="hour23"/>
        <result column="Hour24" jdbcType="DOUBLE" property="hour24"/>
        <result column="Devices" jdbcType="VARCHAR" property="devices"/>
    </resultMap>
    <update id="updateHourEnergy" parameterType="com.stand.spring.model.EnergyDO">

        UPDATE Energy
        <set>
            <if test="data1!=null">
                Data1 = #{data1},
            </if>
            <if test="data2!=null">
                Data2 = #{data2},
            </if>
            <if test="data3!=null">
                Data3 = #{data3},
            </if>
            <if test="data4!=null">
                Data4 = #{data4},
            </if>
            <if test="data5!=null">
                Data5 = #{data5},
            </if>
            <if test="hour0!=null">
                Hour0 = #{hour0},
            </if>
            <if test="hour1!=null">
                Hour1 = #{hour1},
            </if>
            <if test="hour2!=null">
                Hour2 = #{hour2},
            </if>
            <if test="hour3!=null">
                Hour3 = #{hour3},
            </if>
            <if test="hour4!=null">
                Hour4 = #{hour4},
            </if>
            <if test="hour5!=null">
                Hour5 = #{hour5},
            </if>
            <if test="hour6!=null">
                Hour6 = #{hour6},
            </if>
            <if test="hour7!=null">
                Hour7 = #{hour7},
            </if>
            <if test="hour8!=null">
                Hour8 = #{hour8},
            </if>
            <if test="hour9!=null">
                Hour9 = #{hour9},
            </if>
            <if test="hour10!=null">
                Hour10 = #{hour10},
            </if>
            <if test="hour11!=null">
                Hour11 = #{hour11},
            </if>
            <if test="hour12!=null">
                Hour12 = #{hour12},
            </if>
            <if test="hour13!=null">
                Hour13 = #{hour13},
            </if>
            <if test="hour14!=null">
                Hour14 = #{hour14},
            </if>
            <if test="hour15!=null">
                Hour15 = #{hour15},
            </if>
            <if test="hour16!=null">
                Hour16 = #{hour16},
            </if>
            <if test="hour17!=null">
                Hour17 = #{hour17},
            </if>
            <if test="hour18!=null">
                Hour18 = #{hour18},
            </if>
            <if test="hour19!=null">
                Hour19 = #{hour19},
            </if>
            <if test="hour20!=null">
                Hour20 = #{hour20},
            </if>
            <if test="hour21!=null">
                Hour21 = #{hour21},
            </if>
            <if test="hour22!=null">
                Hour22 = #{hour22},
            </if>
            <if test="hour23!=null">
                Hour23 = #{hour23},
            </if>
            <if test="hour24!=null">
                Hour24 = #{hour24}
            </if>
        </set>
        WHERE Customer_Id=#{customerId}
        AND Date=#{date}
    </update>
</mapper>