<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stand.spring.dao.LogsMapper">
  <resultMap id="BaseResultMap" type="com.stand.spring.model.Logs">
    <id column="Log_Id" jdbcType="INTEGER" property="logId" />
    <result column="Log_User" jdbcType="CHAR" property="logUser" />
    <result column="Log_Date" jdbcType="TIMESTAMP" property="logDate" />
    <result column="Log_Time" jdbcType="TIME" property="logTime" />
    <result column="Log_Ip" jdbcType="CHAR" property="logIp" />
  </resultMap>

</mapper>